body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
    background: lightblue;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

#masthead {
    background: brown;
    color: white;
    width: 33%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

#directions-container {
    background: tan;
    color: green;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

#functions-box {
    width: 33%;
    height: 100px;
    margin: 0 auto;
    border: 1px solid yellow;
}

#computerchoice-text {
    width: 60%;
    height: 100%;
    background: darkblue;
    color: white;
    border: 1px solid red;
    text-align: center;
    padding-top: 35px;
    font-size: 75px;
    float: left;
}